.card {
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 150px;
  background-color: var(--overlay2);
  padding: 20px;
  border: 2px solid var(--accent);
  border-radius: 20px;
  gap: 20px;
  position: relative;
}

.img-cont {
  width: 150px;
}

.img-cont img {
  width: 100%;
}

.title {
  font-weight: bold;
  color: var(--accent);
}

.metadata {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.genre {
  font-size: 16px;
  max-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.popularity-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.upper-sect {
  display: flex;
  align-items: center;
  gap: 10px;
}

.lower-sect {
  text-align: center;
}

.num-data {
  font-weight: bold;
}

.upper-sect img {
  width: 24px;
}

.card-hover {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.202);
  backdrop-filter: blur(5px);
  z-index: 10;
  border-radius: 20px;
}

.card:hover > .card-hover {
  display: flex;
}
