header {
  display: flex;
  width: 100%;
  height: fit-content;
  padding: 10px 50px;
  box-sizing: border-box;
  justify-content: space-around;
  border: 0;
  position: fixed;
  backdrop-filter: blur(5px);
  z-index: 100;
}

header section {
  display: flex;
  align-items: center;
  width: 100%;
}

.header-nav {
  justify-content: center;
}

.header-auth {
  justify-content: flex-end;
  gap: 20px;
}

.header-nav nav {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  background-color: var(--bg-light);
  padding: 15px 25px;
  border-radius: 25px;
  border-top: 1px solid var(--overlay1);
  border-left: 1px solid var(--overlay1);
  box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.152);
}
