header {
  display: grid;
  width: 100%;
  height: fit-content;
  padding: 0 50px;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr 1fr;
  border: 0;
  position: fixed;
  background-color: var(--bg);
  z-index: 100;
}

header section {
  display: flex;
  align-items: center;
  width: 100%;
}

.header-nav {
  justify-content: flex-start;
}

.header-title {
  justify-content: center;
}

.header-auth {
  justify-content: flex-end;
  gap: 20px;
}

.header-nav nav {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
}
