.library-card {
  display: flex;
  flex-direction: row;
  height: clamp(50px, 150px, 150px);
  padding: 20px;
  background-color: var(--bg-light);
  width: clamp(250px, 100%, 1000px);
  border-radius: 25px;
  gap: 15px;
  box-sizing: border-box;
}

.library-card-img-cont,
.library-card-img-cont img {
  height: 100%;
}

.card-title {
  font-size: 18px;
  color: var(--accent);
  margin: 0;
}

.library-card-title {
  cursor: pointer;
  transition: all ease-in 200ms;
}

.library-card-title p {
  font-size: 22px;
}

.library-card-title:hover {
  transform: translateY(-2px);
  scale: 1.02;
  transition: all ease-in 200ms;
}

.library-card-rating-cont img {
  width: 16px;
  aspect-ratio: 1/1;
}

.library-card-rating-cont,
.library-card-episode-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.library-button {
  padding: 5px 15px;
  font-size: 16px;
}
