.library-tab-cont {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid var(--text);
  margin-bottom: 25px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 24px;
}
