.library-tab-cont {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid var(--text);
  margin-bottom: 25px;
  position: relative;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 24px;
  font-weight: bold;
}

.library-tab-cont div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.util-cont {
  position: absolute;
  right: 0;
  font-size: 24px;
  font-weight: bold;
  width: fit-content;
  gap: 20px;
}

.util-cont div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
}
