.library-card {
  display: flex;
  flex-direction: row;
  height: clamp(50px, 200px, 200px);
  padding: 20px;
  background-color: var(--bg-light);
  width: clamp(250px, 100%, 700px);
  border-radius: 25px;
  gap: 15px;
  box-sizing: border-box;
}

.library-card-img-cont,
.library-card-img-cont img {
  height: 100%;
}

.card-title {
  font-size: 18px;
  color: var(--accent);
  margin: 0;
}

.library-card-title {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all ease-in 200ms;
}

.library-update-element-cont {
  position: absolute;
  top: 50%;
  display: flex;
  width: 100%;
  background-color: var(--bg-light);
  transform: translateY(-50%);
  justify-content: space-between;
}

.update-inp {
  display: flex;
  gap: 10px;
}

.library-card-title-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.library-card-title-left p {
  font-size: 22px;
}

.library-card-title img {
  width: 18px;
  height: 18px;
}

.library-card-info-cont {
  width: 100%;
  position: relative;
}

.library-card-title:hover {
  transform: translateY(-2px);
  scale: 1.02;
  transition: all ease-in 200ms;
}

.library-card-rating-cont img {
  width: 16px;
  aspect-ratio: 1/1;
}

.library-card-rating-cont,
.library-card-episode-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  padding: 10px 0;
  position: relative;

  width: 100%;
  justify-content: space-between;
  border-top: 1px var(--overlay1) solid;
}

.library-button {
  padding: 5px 15px;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid var(--accent);
  color: var(--accent);
  font-weight: 500;
}
