.library-card {
  display: flex;
  flex-direction: row;
  height: clamp(50px, 150px, 150px);
  padding: 20px;
  background-color: var(--bg-light);
  width: clamp(250px, 100%, 1000px);
  border-top: 1px solid var(--overlay1);
  border-left: 1px solid var(--overlay1);
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  gap: 15px;
  box-sizing: border-box;
}

.library-card-img-cont,
.library-card-img-cont img {
  height: 100%;
}

.card-title {
  font-size: 18px;
  color: var(--accent-dark);
  margin: 0;
}

.library-card-rating-cont {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 0;
}

.library-card-rating-cont img {
  width: 16px;
  aspect-ratio: 1/1;
}
