.banner-carousel {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.banner-carousel > div {
  height: 100%;
  width: 50%;
  display: flex;
  gap: 20px;
}

.carousel-prev-btn,
.carousel-next-btn {
  height: 100%;
  position: absolute;
  z-index: 10;
}

.carousel-prev-btn {
  left: 20px;
  background: linear-gradient(to right, var(--bg) 60%, transparent);
}

.carousel-next-btn {
  right: 20px;
  background: linear-gradient(to right, transparent 40%, var(--bg));
}

.carousel-prev-btn:hover img {
  transform: translateX(-5px);
  transition: transform ease-in 200ms;
}

.carousel-next-btn:hover img {
  transform: translateX(5px);
  transition: transform ease-in 200ms;
}

.carousel-prev-btn img,
.carousel-next-btn img {
  transition: transform ease-out 200ms;
}

.carousel-title {
  font-size: 24px;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--accent);
  font-weight: 600;
}

.banner-carousel div img {
  height: 100%;
  aspect-ratio: 4/5.6;
}

.carousel-score {
  display: flex;
  width: 100%;
  gap: 30px;
}

.carousel-score div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.carousel-score div img {
  height: 18px;
  width: 18px;
}

.carousel-desc {
  width: 100%;
  padding: 10px 20px;
  padding-left: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.carousel-desc p {
  display: -webkit-box;
  line-clamp: 5;
  -webkit-line-clamp: 5;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.carousel-data {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  gap: 5px;
}

.left-carousel-cont,
.right-carousel-cont {
  position: absolute;
  background-color: var(--bg-dark);
  scale: 0.9;
  filter: blur(2px);
}

.left-carousel-cont {
  left: 0;
}

.right-carousel-cont {
  right: 0;
}

.main-carousel-cont {
  z-index: 10;
  background-color: var(--bg-light);
}
