.lib-card-cont {
  position: relative;
}

.lib-card-cont img {
  width: 250px;
  height: 350px;
}

.lib-card-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7) 75%,
    rgba(237, 221, 83, 0) 100%
  );
}

.lib-card-title {
  font-weight: 800;
  font-size: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2; /* number of lines to show */
  overflow: hidden;
  text-overflow: ellipsis;
}
