body {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  background-color: var(--overlay2);
  padding: 100px 100px;
  border: 2px solid var(--accent);
  border-radius: 25px;
  align-items: center;
}

main form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  color: var(--accent);
  font-size: 48px;
  margin: 0;
  margin-bottom: 30px;
}

.input-cont {
  display: flex;
  flex-direction: column;
}

.link {
  font-size: 18px;
  font-weight: 500;
  color: var(--green);
}
