:root {
  --text: #c6d0f5;
  --text-dark: #a6adc8;

  --bg-light: #282a39;
  --bg: #1e1e2e;
  --bg-dark: #181825;

  --overlay1: #7f849c;
  --overlay2: #6c7086;

  --accent: #ca9ee6;
  --accent-dark: #b4befe;

  --green: #a6e3a1;
  --red: #f38ba8;
  --dark: #11111b;
}

body {
  font-family: "JetBrains Mono", monospace;
  background-color: var(--bg);
  color: var(--text);
  width: 100dvw;
  margin: 0;
}

a {
  color: var(--text);
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

main {
  padding: 20px;
}

p {
  margin: 0;
}

input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--text);
  color: var(--text);
  padding: 5px;
}

input:focus {
  outline: none;
  border-bottom: 1px solid var(--green);
}

button {
  color: var(--bg);
  background-color: var(--accent);
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  font-size: 12px;
}

.glow {
  border-top: 1px solid var(--overlay1);
  border-left: 1px solid var(--overlay1);
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.15);
}
