:root {
  --text: #c6d0f5;
  --bg: #292c3c;
  --overlay1: #232634;
  --overlay2: #1e1e2e;
  --accent: #ca9ee6;
  --green: #a6e3a1;
  --red: #f38ba8;
}

body {
  font-family: "JetBrains Mono", monospace;
  background-color: var(--bg);
  color: var(--text);
  width: 100dvw;
  margin: 0;
}

a {
  color: var(--text);
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

main {
  padding: 20px;
}

input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--text);
  color: var(--text);
  padding: 5px;
}

input:focus {
  outline: none;
  border-bottom: 1px solid var(--green);
}

button {
  color: var(--bg);
  background-color: var(--accent);
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

.sec-btn {
  background-color: var(--overlay2);
  color: var(--text);
  border: 1px solid var(--accent);
}
