:root {
  --highlight: #f38ba8;
  --text: #cdd6f4;
  --subtext: #a6adc8;
  --bg: #1e1e2e;
  --overlay: #313244;
  --darken: #181825;
}

* {
  margin: 0;
  font-family: "JetBrains Mono";
}

body {
  background-color: var(--bg);
}

#header-title-cont {
  color: var(--highlight);
  background-color: var(--darken);
  padding: 20px;
}
