.library {
  padding: 150px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.library-shows {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}
