.library {
  padding: 150px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.library-shows {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  flex-wrap: wrap;
  gap: 20px;
}
