.shows-main {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.shows-section {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  gap: 15px;
  padding-top: 80px;
}

aside {
  width: 450px;
  box-sizing: border-box;
  font-weight: 700;
  position: relative;
  margin-top: 100px;
}

.search-query {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  position: sticky;
  top: 110px;
}

.rating-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rating-sub-cont {
  display: flex;
  flex-direction: column;
  width: 100px;
}

.query-cont {
  display: flex;
  flex-direction: column;
}

.search-btn {
  margin-top: 20px;
}
