.auth-cont {
  padding: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.auth-cont form {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-dark);
  padding: 100px 100px;
  border: 2px solid var(--accent);
  border-radius: 25px;
  gap: 20px;
}

.auth-cont h1 {
  color: var(--accent);
  font-size: 48px;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
}

.input-cont {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.link {
  font-size: 18px;
  font-weight: 500;
  color: var(--green);
}
