@import "tailwindcss";

@theme {
    --color-bg: #121212;
    --color-border: #303030;
    --color-elevated: #222222;
    --color-surface: #1a1a1a;
    --color-prim-text: #e6e6e6;
    --color-sec-text: #a8a8a8;
    --color-muted-text: #707070;
    --color-accent: #f2f2f2;
}

* {
   margin: 0;
    color: #ffffff;
}

body {
    background-color: var(--color-bg);
}

main {
    padding: 0 10px;
}
